@import "~bootstrap/scss/bootstrap.scss";

body{
    background: #778beb;
}
.jumbotron{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 44%, rgba(71,114,114,1) 96%);
}
